#base_btn.dark {
    background-color: rgb(48, 48, 48);
    border-radius: 6;
}

#base_btn.light {
    background-color: rgb(204, 204, 204);
    border-radius: 6;
}

#base_input.dark {
    background-color: rgb(19, 19, 19);
    border-radius: 6;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
}

#base_input.light {
    background-color: rgb(204, 204, 204);
    border-radius: 6;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(61, 61, 61);
}

#central_wid.dark {
    border-radius: 10px;
    background: rgb(82, 82, 82);
}

#central_wid.light {
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

#content_wid.dark {
    background: rgb(30, 30, 30);
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content_wid.light {
    background: rgb(255, 255, 255);
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content_wid.img.dark {
    background-color: rgb(16, 16, 16);
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content_wid.img.light {
    background-color: rgb(30, 30, 30);
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bar_top.dark {
    background-color: rgb(36, 36, 36);
    border-radius: 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#bar_top.light {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#coll_btn.dark {
    background-color: rgb(51, 51, 51);
    border: 2px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(255, 255, 255);
}

#coll_btn.light {
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(61, 61, 61);
}

#coll_btn.border.dark {
    background-color: rgb(51, 51, 51);
    border: 2px solid rgb(46, 89, 203);
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(255, 255, 255);
}

#coll_btn.border.light {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(46, 89, 203);
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(61, 61, 61);
}

#coll_btn.solid.dark {
    background-color: rgb(82, 82, 82);
    border: 2px solid transparent;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(255, 255, 255);
}

#coll_btn.solid.light {
    background-color: rgb(204, 204, 204);
    border: 2px solid transparent;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(61, 61, 61);
}

#menu_left.dark {
    border: 0px;
    background-color: rgb(51, 51, 51);
    border-bottom-left-radius: 10px;
}

#menu_left.light {
    border: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
}

#menu_left_inner.dark {
    background-color: rgb(51, 51, 51);
    border: 0px;
}

#menu_left_inner.light {
    background-color: rgb(255, 255, 255);
    border: 0px;
}

#navi_toggle.dark {
    background-color: rgba(128, 128, 128, 0.40);
    border-radius: 27px;
}

#navi_toggle.light {
    background-color: rgba(128, 128, 128, 0.40);
    border-radius: 27px;
}

#navi_zoom.dark {
    background-color: rgba(128, 128, 128, 0.40);
    border-radius: 15px;
}

#navi_zoom.light {
    background-color: rgba(128, 128, 128, 0.40);
    border-radius: 15px;
}

#img_view_sep.dark {
    background-color: rgb(0, 0, 0);
}

#img_view_sep.light {
    background-color: rgb(219, 219, 219);
}

#bar_bottom.dark {
    background-color: rgb(36, 36, 36);
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgb(0, 0, 0);
}

#bar_bottom.light {
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgb(219, 219, 219);
}

#q_text_edit.dark {
    background-color: rgb(19, 19, 19);
    border-radius: 6;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
}

#q_text_edit.light {
    background-color: rgb(204, 204, 204);
    border-radius: 6;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(61, 61, 61);
}

#reset_btn.dark {
    background-color: rgb(48, 48, 48);
    border-radius: 6;
}

#reset_btn.light {
    background-color: rgb(204, 204, 204);
    border-radius: 6;
}

#scroll_wid.dark {
    background-color: rgb(30, 30, 30);
}

#scroll_wid.light {
    background-color: rgb(255, 255, 255);
}

#title.normal.dark {
    font-size: 18pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#title.normal.light {
    font-size: 18pt;
    font-weight: bold;
    color: rgb(125, 125, 125);
}


#title.solid.dark {
    font-size: 18pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(46, 88, 203);
    border-radius: 9px;
}

#title.solid.light {
    font-size: 18pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(46, 88, 203);
    border-radius: 9px;
}


#thumbnail.normal.dark {
    background-color: transparent;
}

#thumbnail.normal.light {
    background-color: transparent;
}

#thumbnail.solid.dark {
    background-color: rgba(46, 88, 203);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#thumbnail.solid.light {
    background-color: rgba(46, 88, 203);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#title_bar.dark {
    background: rgb(36, 36, 36);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#title_bar.light {
    background: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(61, 61, 61);
}

#bar_top_btn.normal.dark {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

#bar_top_btn.normal.light {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
}

#bar_top_btn.border.dark {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid rgb(46, 89, 203);
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

#bar_top_btn.border.light {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid rgb(46, 89, 203);
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
}

#bar_top_btn.solid.dark {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: rgb(46, 89, 203);
    color: rgb(255, 255, 255);
}

#bar_top_btn.solid.light {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: rgb(46, 89, 203);
    color: rgb(255, 255, 255);
}

#up_btn.dark {
    background-color: rgb(77, 77, 77);
    border-radius: 22px;
}

#up_btn.light {
    background-color: rgb(191, 191, 191);
    border-radius: 22px;
}

/* QLabel.dark {
    color: #ffffff;
}

QLabel.light {
    color: #3d3d3d;
}

QMenu.dark {
    background-color: #333333;
    border: 1px solid #5d5d5d;
    border-radius: 8;
    padding: 3px;
    color: white;
}

QMenu.light {
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 8;
    padding: 3px;
    color: white;
}

QMenu::indicator.dark {
    height: 0px;
}

QMenu::indicator.light {
    height: 0px;
}

QMenu::item.dark {
    padding: 3 15 3 15;
    color: #ffffff;
}

QMenu::item.light {
    padding: 3 15 3 15;
    color: #3d3d3d;
}

QMenu::item:solid.dark {
    padding: 3 15 3 15;
    background: #2e59cb;
    border-radius: 6;
    color: #ffffff;
}

QMenu::item:solid.light {
    padding: 3 15 3 15;
    background: #2e59cb;
    color: rgb(255, 255, 255);
    border-radius: 6;
}

QMenu::right-arrow.dark {
    height: 0px;
}

QMenu::right-arrow.light {
    height: 0px;
}

QProgressBar.dark {
    background-color: #525252;
    border-radius: 3px;
    }

QProgressBar.light {
    background-color: #cccccc;
    border-radius: 3px;
    }

QProgressBar::chunk.dark {
    background-color: #2e59cb;
    border-radius: 3px;
    }

QProgressBar::chunk.light {
    background-color: #2e59cb;
    border-radius: 3px;
    }

QScrollArea#menu_scrollbar.dark {
    border: 0px;
}

QScrollArea#menu_scrollbar.light {
    border: 0px;
}

QScrollArea#th_scrollbar.dark {
    background-color: #1e1e1e;
    border: 0px;
}

QScrollArea#th_scrollbar.light {
    background-color: #ffffff;
    border: 0px;
}

QScrollBar::add-line:vertical.dark {
    height: 0px;
}

QScrollBar::add-line:vertical.light {
    height: 0px;
}

QScrollBar::handle:vertical.dark {
    background-color: #464646;
    border-radius: 4px;
}

QScrollBar::handle:vertical.light {
    background-color: #cccccc;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover.dark {
    background-color: #676767;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover.light {
    background-color: #676767;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical.dark {
    height: 0px;
}

QScrollBar::sub-line:vertical.light {
    height: 0px;
}

QScrollBar::sub-page:vertical.dark {
    height: 0px;
}

QScrollBar::sub-page:vertical.light {
    height: 0px;
}

QScrollBar:vertical.dark {
    background-color: transparent;
    width: 12px;
    padding: 2px;
}

QScrollBar:vertical.light {
    background-color: transparent;
    width: 12px;
    padding: 2px;
}
 */
