/* СИНИЙ */
/* background: #0059d1; */

/* ФОН ПОСВЕТЛЕЕ */
/* background: #2b2b2b; */

/* ФОН ПОСВЕТЛЕЕ БОРДЕР */
/* border: 1px solid #353535; */

/* ФОН */
/* background: #1e1e1e; */

/* ФОН ПОТЕМНЕЕ */
/* background: #171717; */



.QFrame {
    background: #1e1e1e;
    border: none;
}


QLabel {
    color: #ffffff;
}



QMenu {
    background: #2b2b2b;
    border: 1px solid #353535;
    border-radius: 8px;
    padding: 3px;
}

QMenu::item {
    background: transparent;
    padding: 3px 16px;
    margin: 0px;
    border-radius: 4px;
    color: #ffffff;
}

QMenu::item:selected {
    background: #0059d1;
    color: #ffffff;
    border-radius: 4px;
}




QScrollArea {
    border: none;
    background: transparent;
}




QLineEdit {
    color: #ffffff;
    border: 1px solid #353535;
    border-radius: 6px;
    padding-left: 2px;
    padding-right: 28px;
}

ULineEditLight {
    background: #2b2b2b;
}


ULineEditDark {
    background: #232323;
}





QTextEdit {
    color: #ffffff;
    border: 1px solid #353535;
    border-radius: 6px;
    padding-left: 2px;
    padding-right: 28px;
}


UTextEditLight {
    background: #2b2b2b;
}


UTextEditDark {
    background: #232323;
}




QGroupBox {
    background-color: #2b2b2b;
    border: 1px solid #353535;
    border-radius: 6px;
}



QTreeWidget {
    background: #171717;
    color: #ffffff;
    border: 1px solid #2d2d2d;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

QTreeWidget::item:selected,
QTreeWidget::item:selected:!active {
    background: #0059d1;
    color: #ffffff;
}




QPushButton {
    background: #4e4e4e;
    border: 1px solid #585858;
    border-radius: 4px;
    color: #ffffff;
    /* Добавляем отступ справа, чтобы текст не наезжал на стрелочку */
    padding-right: 1px; 
}

QPushButton:pressed {
    background: #5d5d5d;
    border: 1px solid #6a6a6a;
}

/* Стилизация стрелочки меню */
QPushButton::menu-indicator {
    image: url("./icons/common/arrow_down.svg");
    width: 12px; /* Ширина иконки */
    height: 12px; /* Высота иконки */
}



HSep {
    background: #353535;
}


GrayTextLabel {
    color: #818181;
}




QSlider::groove:horizontal {
    border-radius: 1px;
    height: 3px;
    margin: 0px;
    background-color: #353535;
}

QSlider::handle:horizontal {
    background-color: #A2A2A2;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: -4px 0;
    padding: -4px 0px;
}





USpinBox, QDateEdit {
    background: #3E3E3E;
    color: #ffffff;
    border: 1px solid #4C4C4C;
    border-radius: 4px;
}

USpinBox::up-button, QDateEdit::up-button {
    width: 17px;
    height: 10px;
    background: #3E3E3E;
    margin-top: 2px;
    margin-right: 2px;
    border-radius: 3px;
}

USpinBox::up-button:pressed, QDateEdit::up-button:pressed {
    background: #565656;
}

USpinBox::down-button, QDateEdit::down-button {
    width: 17px;
    height: 10px;
    background: #3E3E3E;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 3px;
}

USpinBox::down-button:pressed, QDateEdit::down-button:pressed {
    background: #565656;
}

USpinBox::up-arrow, QDateEdit::up-arrow {
    image: url("./icons/common/arrow_up.svg");
    width: 9px;
    height: 9px;
}

USpinBox::down-arrow, QDateEdit::down-arrow {
    image: url("./icons/common/arrow_down.svg");
    width: 9px;
    height: 9px;
}




CalendarBigDate {
    font-size: 30pt;
    color: #b2b2b2;
}

CalendarWeek {
    color: #888888;
}

CalendarDay {
    color: #ffffff;
}

CalendarDaySelected {
    color: #FFFFFF;
    background-color: #0078D4;
    font-weight: bold;
    border-radius: 20px;
}


WinImgViewGraphics, BlackBgFrame {
    background: #000000;
}

WinInfoLeftLabel, WinInfoSelectableLabel {
    font-size: 11pt;
}

ServerLabel {
    padding-left: 1px;
}