/* СИНИЙ */
/* #0059d1 */

/* ФОН line edit, text edit, menu */
/* #2b2b2b */

/* БОРДЕР line edit, text edit, menu */
/* #353535 */

/* ФОН окно, скролл ареа */
/* #1e1e1e */



/* БАЗА */
.QWidget {
    background: #1e1e1e;
}

UMenu {
    background: #2b2b2b;
    border: 1px solid #353535;
    border-radius: 8px;
    padding: 3px;
}

UMenu::item {
    background: transparent;
    padding: 3px 16px;
    margin: 0px;
    border-radius: 4px;
    color: #ffffff;
}

/* Стиль выделенного (активного) пункта меню */
UMenu::item:selected {
    background: #0059d1;
    color: #ffffff;
    border-radius: 4px;
}

VScrollArea {
    border: none;
    background: #1e1e1e;
}

ULineEdit {
    background: #2b2b2b;
    color: #ffffff;
    border: 1px solid #353535;
    border-radius: 6px;
    padding-left: 2px;
    padding-right: 28px;
}

ULineEdit::placeholder {
    color: #9a3636;
}

