/* GLOBAL FONT COLOR */

QLabel {
    color: #3d3d3d;
}


/* UNIVERSAL SCROLL */

QScrollBar:vertical {
    background-color: transparent;
    width: 12px;
    padding: 2px;
}
QScrollBar::handle:vertical {
    background-color: #cccccc;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover {
    background-color: #676767;
    border-radius: 4px;
}
QScrollBar::add-line:vertical {
    height: 0px;
}
QScrollBar::sub-line:vertical {
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height: 0px;
}


/* UNIVERSAL CONTEXT MENU */

QMenu {
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 8;
    padding : 3px;
}      
QMenu::indicator {
    height: 0px;
}
QMenu::item {
    padding: 3 15 3 15;
    color: #3d3d3d;
}
QMenu::item:selected {
    padding: 3 15 3 15;
    background: #2e59cb;
    color: rgb(255, 255, 255);
    border-radius: 6;
}
QMenu::right-arrow {
    height: 0px;
    }


/* LEFT MENU */

QScrollArea#menu_scrollbar {
    border: 0px;
}

#menu_scrollbar_qwidget {
    background-color: #ffffff;
    border: 0px;
}

#menu_fake_widget{
    border: 0px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    }

#menu_btn {
    background-color: #ffffff;
    border: 2px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    color: #3d3d3d;
}

#menu_btn_bordered {
    background-color: #ffffff;
    border: 2px solid #2e59cb;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: #3d3d3d;
}

#menu_btn_selected {
    background-color: #cccccc;
    border: 2px solid transparent;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: #3d3d3d;
}

#menu_btn_selected_bordered {
    background-color: #cccccc;
    border: 2px solid #2e59cb;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
    color: #3d3d3d;
}


/* FILTERS BAR */

#filter_bar_frame {
    background-color: #ffffff;
    border-radius: 0px;
    border-bottom: 1px solid #dbdbdb;
}

#dates_btn{
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: #ffffff;
    color: #3d3d3d;
}

#dates_btn_selected {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: #2e59cb;
    color: #ffffff;
}

#dates_btn_bordered {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid #2e59cb;
    background-color: #ffffff;
    color: #3d3d3d;
}


#filter_btn {
    background-color: #ffffff;
    border-radius: 6;
    margin-right: 5px;
    color: #3d3d3d;
}

#filter_btn_selected {
    background-color: #2e59cb;
    border-radius: 6;
    margin-right: 5px;
    color: #ffffff;
}


/* NOTIFICATION WIDGET */

#notification_widget {
    background-color: #2e59cb;
    border-radius: 8;
    color: #ffffff;
}
#notification_font_color {
    color: #ffffff;
}

/* STATUS BAR */
#st_bar_frame {
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #dbdbdb;
}

#st_bar_jpg {
    background: #e3e3e3;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#st_bar_jpg_sel {
    background: #c2c1c1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#st_bar_tiff {
    background: #e3e3e3;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#st_bar_tiff_sel {
    background: #c2c1c1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* THUMBNAILS */

#thumbnail_normal {
    border: 2px solid transparent;
}

#thumbnail_selected {
    border: 2px solid #2e59cb;
}

#th_reset_dates_btn{
    /* width: 120px; */
    /* height: 28px; */
    background-color: #cccccc;
    border-radius: 6;
}

#th_reset_search_btn{
    /* width: 120px; */
    /* height: 28px; */
    background-color: #cccccc;
    border-radius: 6;
}

#th_reset_filters_btn {
    /* width: 120px; */
    /* height: 28px; */
    background-color: #cccccc;
    border-radius: 6;
}

#th_show_all_btn{
    /* width: 120px; */
    /* height: 28px; */
    background-color: #cccccc;
    border-radius: 6;
}

#th_title {
    font-size: 18pt;
    font-weight: bold;
    color: #7d7d7d;
}

QScrollArea#th_scrollbar {
    background-color: #ffffff;
    border: 0px;
}

#th_scroll_widget {
    background-color: #ffffff;
}


/* FIRST LOAD, SETTINGS */

#btn_jpg {
    background: #cccccc;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#btn_jpg_selected{
    background: #2e59cb;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
}

#btn_tiff {
    background: #cccccc;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#btn_tiff_selected {
    background: #2e59cb;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #ffffff;
}


/* IMAGE VIEWER */

#navi_zoom {
    background-color: rgba(128, 128, 128, 70);
    border-radius: 15px;
}


/* INFO WINDOW */

#info_base_label {
    background-color: #ffffff;
}


/* SMB WIN */

#smb_browse_btn {
    background-color: #2e59cb;
    border-radius: 8;
}

#smb_browse_btn_selected {
    background-color: #303030;
    border-radius: 8;
}


/* BASE WIDGETS */

#base_btn {
    background-color: #cccccc;
    border-radius: 6;
}

#base_input {
    background-color: #cccccc;
    border-radius: 6;
    padding-left: 5px; padding-right: 5px;
    color: #3d3d3d;
}

#title_bar {
    background: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #dbdbdb;
    color: #3d3d3d;
}

#central_widget {
    border-radius: 10px;
    background: #ffffff;
}

#base_bottom_widget {
    background: #ffffff;
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#separator {
    background-color: #dbdbdb;
}