/* LEFT MENU */

#menu_btn {
    background-color: #333333;
    border: 2px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
}

#menu_btn_bordered {
    background-color: #333333;
    border: 2px solid #2e59cb;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
}

#menu_btn_selected {
    background-color: #525252;
    border: 2px solid transparent;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
}

#menu_btn_selected_bordered {
    background-color: #525252;
    border: 2px solid #2e59cb;
    border-radius: 6;
    padding-left: 2px;
    padding-right: 2px;
}

#menu_scrollbar_qwidget {
    background-color: #333333;
    border: 0px;
}

#menu_fake_widget{
    border: 0px;
    background-color: #333333;
    border-bottom-left-radius: 10px;
    }

/* LEFT MENU SCROLLBAR */

QScrollArea#menu_scrollbar {
    border: 0px;
    border-right: 1px solid black;
    }

QScrollBar#menu_scrollbar:vertical {
    background-color: transparent;
    width: 10px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
QScrollBar#menu_scrollbar::handle:vertical {
    background-color: #525252;
    border-radius: 4px;
}
QScrollBar#menu_scrollbar::handle:vertical:hover {
    background-color: #676767;
    border-radius: 4px;
}
QScrollBar#menu_scrollbar::add-line:vertical {
    height: 0px;
}
QScrollBar#menu_scrollbar::sub-line:vertical {
    height: 0px;
}
QScrollBar#menu_scrollbar::add-page:vertical, QScrollBar#menu_scrollbar::sub-page:vertical {
    height: 0px;
}


/* DATES BUTTON IN FILTER BAR */

#dates_btn{
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: #242424;
}

#dates_btn_selected {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid transparent;
    background-color: #2e59cb;
}

#dates_btn_bordered {
    border-radius: 6;
    margin-right: 5px;
    border: 2px solid #2e59cb;
    background-color: #242424;
}


/* FILTER BUTTON IN FILTERS BAR */

#filter_btn {
    background-color: #242424;
    border-radius: 6;
    margin-right: 5px;
}

#filter_btn_selected {
    background-color: #2e59cb;
    border-radius: 6;
    margin-right: 5px;
}


/* FILTER BAR FRAME */

#filter_bar_frame {
    background-color: #242424;
    border-radius: 0px;
    border-bottom: 1px solid black;
}


/* THUMBNAIL */

#thumbnail_normal {
    border: 2px solid transparent;
}

#thumbnail_selected {
    border: 2px solid #2e59cb;
}


/* NOTIFICATION WIDGET */

#notification_widget {
    background-color: #2e59cb;
    border-radius: 8;
}